doctype
html(lang="ja")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no")
        title Cesium Panorama
        link(rel="stylesheet", href="css/style.css")
        //- script(src="Cesium/Cesium.js")
        //- style @import url(Cesium/Widgets/widgets/css);
    body
        #container
            button#mode-button.edit-mode 編集モード
            //- p#status 
        
